@font-face{font-family:'icomoon'; src:url('/fonts/icomoon.eot?6ms8cw'); src:url('/fonts/icomoon.eot?6ms8cw#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?6ms8cw') format('truetype'), url('/fonts/icomoon.woff?6ms8cw') format('woff'), url('/fonts/icomoon.svg?6ms8cw#icomoon') format('svg'); font-weight:normal; font-style:normal;}

[class^="icon-"], [class*=" icon-"]{/* use !important to prevent issues with browser extensions that change fonts */ font-family:'icomoon' !important; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1; /* Better Font Rendering =========== */ -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.icon{font-size:16px;} /*custom set*/
.icon-pim:before{content:"\e900";}
.icon-flag-usa:before{content:"\e600";}
.icon-home:before{content:"\e001";}
.icon-tag:before{content:"\e0b7";}
.icon-cart:before{content:"\e0c6";}
.icon-cart-plus:before{content:"\e0c8";}
.icon-cart-minus:before{content:"\e0c9";}
.icon-cart-checkout:before{content:"\e0cc";}
.icon-cart-remove:before{content:"\e0cd";}
.icon-coin:before{content:"\e0d3";}
.icon-envelope:before{content:"\e0ef";}
.icon-location:before{content:"\e0f1";}
.icon-history:before{content:"\e0ff";}
.icon-mobile:before{content:"\e125";}
.icon-undo:before{content:"\e14b";}
.icon-user:before{content:"\e194";}
.icon-user2:before{content:"\e195";}
.icon-search:before{content:"\e1ba";}
.icon-cog:before{content:"\e1df";}
.icon-hammer:before{content:"\e1e8";}
.icon-switch:before{content:"\e290";}
.icon-list:before{content:"\e299";}
.icon-numbered-list:before{content:"\e29c";}
.icon-star:before{content:"\e301";}
.icon-warning:before{content:"\e355";}
.icon-notification:before{content:"\e357";}
.icon-question:before{content:"\e359";}
.icon-close:before{content:"\e36b";}
.icon-minus:before{content:"\e375";}
.icon-plus:before{content:"\e376";}
.icon-checkmark:before{content:"\e370";}
.icon-play:before{content:"\e385";}
.icon-next:before{content:"\e38d";}
.icon-previous:before{content:"\e38c";}
.icon-forward:before{content:"\e389";}
.icon-backward:before{content:"\e388";}
.icon-arrow-left:before{content:"\e3b3";}
.icon-arrow-down:before{content:"\e3b2";}
.icon-arrow-right:before{content:"\e3b1";}
.icon-arrow-up:before{content:"\e3b0";}
.icon-loop:before{content:"\e3a8";}
.icon-arrow-right2:before{content:"\e411";}
.icon-table:before{content:"\e466";}
.icon-new-tab:before{content:"\e47d";}
.icon-android:before{content:"\e4c8";}
.icon-windows8:before{content:"\e4ca";}
.icon-apple:before{content:"\e4c6";}
.icon-file-pdf:before{content:"\e4e2";}
.icon-file-excel:before{content:"\e4e5";}
.icon-new:before{content:"\e061";}
.icon-books:before{content:"\e072";}
.icon-copy:before{content:"\e08e";}
.icon-phone:before{content:"\e0dc";}
.icon-bubbles:before{content:"\e152";}
.icon-spinner:before{content:"\e1b2";}
.icon-zoom-in:before{content:"\e1bc";}
.icon-zoom-out:before{content:"\e1bd";}
.icon-remove:before{content:"\e250";}
.icon-lightning:before{content:"\e28d";}
.icon-menu:before{content:"\e2af";}
.icon-link:before{content:"\e2cd";}
.icon-close2:before{content:"\e36d";}
.icon-arrow-up2:before{content:"\e3b4";}
.icon-arrow-right3:before{content:"\e3b5";}
.icon-arrow-down2:before{content:"\e3b6";}
.icon-arrow-left2:before{content:"\e3b7";}
.icon-menu2:before{content:"\e418";}
.icon-office:before{content:"\e00b";}
.icon-share:before{content:"\e48c";}
.icon-abshre:before{content:"\e48c";} /*custom class for adblockplus*/
.icon-disk:before{content:"\e134";}
.icon-print:before{content:"\e118";}
.icon-pencil:before{content:"\e00d";}
.icon-grid:before{content:"\e2a0";}
.icon-grid2:before{content:"\e2a2";}
.icon-checkbox-checked:before{content:"\e435";}
.icon-checkbox-unchecked:before{content:"\e436";}
.icon-info:before{content:"\e362";}
.icon-thumbs-up:before{content:"\e313";}
.icon-thumbs-up2:before{content:"\e314";}
.icon-list2:before{content:"\e601";}
.icon-target:before{content:"\e27a";}
.icon-camera:before{content:"\e034";}
.icon-image:before{content:"\e02b";}
.icon-expand:before{content:"\e602";}
.icon-note:before{content:"\e011";}
.icon-cart-download:before{content:"\e0ca";}
.icon-cart-upload:before{content:"\e0cb";}
.icon-users:before{content:"\e186";}
.icon-download:before{content:"\e2c0";}
.icon-stack-list:before{content:"\e349";}
.icon-calculate:before{content:"\e0d7";}
.icon-leaf:before{content:"\e9a4";}
.icon-credit-card:before{content:"\e93f";}
.icon-reminder:before{content:"\ed31";}
.icon-cc-amex:before{content:"\e901"; color:#007cc3;} /*custom colors*/
.icon-cc-discover:before{content:"\e902"; color:#ff6000;}
.icon-cc-visa:before{content:"\e903"; color:#273890;}
.icon-cc-mastercard:before{content:"\e904"; color:#cc0000;}
