@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div>
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>
    <p>Founded a long long time ago in a galaxy far away, there once was a man who thought: "No" to the traditional means of trade. Our "reckless" founder bought up products and filled them to the ceiling of his humble storefront. He was one of the pioneers who started selling a variety of goods to his customers and serving them rather than simply selling them a singular item. We still try to embody this practice by providing world class in house support, products you can count on, and a speedy website for your viewing pleasure.</p>
</div>