@page
@model ECommerceSupply.Pages.ContactPartialModel
<div>
    <i class="icon icon-phone"></i> <a href="tel:8005555555">(800) 555-5555</a>
</div>
<div>
    <i class="icon icon-bubbles"></i> <a onclick="openChat();" title="Chat with a trained customer service representative">Live Chat</a>
</div>
<div>
    <i class="icon icon-envelope"></i> <a onclick="showFeedbackForm();" title="We want to hear what you think!">Feedback</a>
</div>