@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h2>@ViewData["Title"]</h2>
    <p>We don't sell your information to external clients. We utilize your information to preform analytics, trend information, and for your own records (order history, shipping location, opt-in stored payment information, etc). We are honored by your usage of our site, and will do our utmost to try to protect your information.</p>
</div>